{{ define "title" }}Contact{{ end }}

{{ define "content" }}
<div class="my-4">
  <h1>Contact</h1>
</div>
{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/public/css/client.css">
{{ end }}

{{ define "script" }}
<script src="/public/js/client.js"></script>
{{ end }}
