{{ define "title" }}Chat{{ end }}

{{ define "content" }}
<div class="row justify-content-center my-4">
  <div class="col-md-10 col-sm-7">
    <ul class="list-group">
      <li class="list-group-item"><pre id="output"></pre></li>
      <li class="list-group-item">
        <button type="button" class="btn btn-dark" id="send">送信</button>
        <button type="button" class="btn btn-dark" id="close">切断</button>
        <button type="button" class="btn btn-outline-dark" id="open">接続</button>
      </li>
    </ul>
  </div>
</div>
{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/public/css/client.css">
{{ end }}
{{ define "script" }}
<script src="/public/js/client.js"></script>
<script src="/public/js/message.js"></script>
{{ end }}
