html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #eee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
}

.footer-text {
  width: 100%;
  padding: 0 15px;
}

.footer-text .text-white {
  margin: 20px 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

