main, body, html {
  height: 100vh;
}

body {
  background-color: #eee;
}

section {
  padding-top: 56px;
  padding-bottom: 56px;
}

.mburger {
  --mb-bar-height: 2px;
  --mb-bar-spacing: 6px;
  --mb-bar-width: 0.4;
  height: 30px;
  width: 30px;
}

.mm-menu {
  --mm-navbar-size: 57px;
}

.mm-iconbar__top {
  padding-top: 10px;
}

.mm-iconbar__bottom {
  padding-bottom: 10px;
}

@media (min-width:1200px) {
  .mburger {
    display: none;
  }
}
