<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link type="image/x-icon" rel="shortcut icon" href="/public/img/favicon.ico">
  <title>{{ template "title" . }}</title>
  <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
{{ template "content" . }}
</body>
<script type="text/javascript" src="/public/js/admin.js"></script>
</html>
